

.details-form-background-image {
    width: 100%;
    /* height: 200vh; */
    /* height: auto; */
    height: 138vh;
}

.details-form-overlay {
    /* height: auto; */
    /* background-color: red; */
    /* height: 132vh; */
    /* height: 195vh; */
    height: 132vh;
}