.cms-search {
  width: 60%;
  align-self: center;
  border-radius: 10px;
  font-size: 15px;
  border: none;
  padding: 10px;
  outline: none;
  background-color: #cafdfd;

}
.cms-box {
  display: flex;
  width: 100%;
  justify-content: space-around;
  /* background-color: #2a0761; */
  /* color: black; */
  border-radius: 8px;
  padding: 4px;
}
.cms-box h2 {
  width: 80%;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  margin: 0;
  font-size: 16px;
  padding-bottom: 0;
}
.leadimg {
  object-fit: contain;
  height: 30px;
}
.cms-box div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 80%;
}
.cms-box div.active {
  /* background: linear-gradient(45deg, #f6624c, #d97126); */
  background: linear-gradient(45deg, #64e4e4, #00b8d4);
  border-radius: 8px;
}


.cms-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* background-color: #2A0761; */
  margin-top: 50px;
  padding: 10px;
  height: 250px;
  border-radius: 20px;
  font-size: 12px;
  width: 10%;
}

.cms-sidebar img {
  object-fit: contain;
  height: 25px;
}

.cms-sidebar-first-option {
  /* background-color: red; */
  text-align: center;
}

.cms-sidebar-second-option {
  /* background-color: blue; */
  text-align: center;
}

.student-cell-section {
  display: flex;
  width: 100%;
}

.cms-form {
  /* background-color: red; */
  width: 90%;
  margin-top: 20px;
}

.cms-student-details {
  font-family: Arial, sans-serif;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: 'Comfortaa', sans-serif;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cms-student-details-header {
  display: flex;
  justify-content: space-between;
}

.cms-student-details-header img {
  width: 150px;
}


.cms-student-details h1 {
  color: cyan;
}

.cms-student-detail {
  margin-bottom: 10px;
}

.cms-student-detail strong {
  margin-right: 10px;
  font-weight: bold;
  color: orange;
}
