/* this is dashboard box css */

.dashboard-box {
    /* background-color: blue; */
    background-color: #240655;
    height: 90%;
    width: 45%;
    margin-top: 2%;
    margin-left: 2%;
    border-radius: 20px;
    margin-right: auto;
}

.dashboard-box-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px;
}

.dashboard-payment-button {
    background-image: linear-gradient(to right, #eb3349 0, #f45c43 51%, #eb3349 100%);
    text-align: center;
    width: 100%;
    color: #fff;
    height: 40px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    font-family: "Comfortaa", sans-serif;  
}

@media only screen and (max-width: 1024px) {
    .dashboard-box {
        width: 60%;
    }
}