@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');



.home4-img{
    height: 100vh;
    width: 100%;
}
.home-four-overlay {
    position: absolute;
    top: 301%;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.5); */
    background-color: rgba(36, 6, 85, 0.6);
    color: white;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    font-family: "Comfortaa", sans-serif;
    font-size: 1.5rem;
}

.home-four-h2{
    background: -webkit-linear-gradient(45deg, #bfffff, #019bb3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-bottom: 0px;
    font-family: "K2D", sans-serif;
    letter-spacing: 5px;
}
.home-four-p{
    margin-top: 5px;
    font-size: 22px;
    letter-spacing: 1px;
}
.home-four-desc{
    font-size: 60px;
    margin-left: 5%;
    margin-top: 100px;
    text-align: left;
}
.home-four-desc span{
    /* margin-left: 3%; */
    margin-top: 20px;
    font-size: 80px;
    font-weight: bold;
    letter-spacing: 35px;
    background: -webkit-linear-gradient(45deg, #bfffff, #019bb3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.home-four-btn {
    background-color: #240655;
    border-radius: 20px;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    position: absolute; 
    left: 6%;
    bottom: 9%;
    /* margin-bottom: 0%; */
    transition: background-color 0.3s ease;
}

.home-four-btn:hover {
    background-color: #0c7d92;
}

@media only screen and (max-width: 768px) {
    .home-four-overlay{
        top: 301vh;
        height: 101vh;
    }
    .home-four-h2 {
        font-size: 2rem;
    }

    .home-four-p {
        font-size: 1.5rem;
    }

    .home-four-desc {
        font-size: 2rem;
    }

    .home-four-desc span {
        margin-top: 20px;
        font-size: 90px;
        font-weight: bold;
        letter-spacing: 10px;
        font-size: 3rem;
    }

    .home-four-btn {
        background-color: #240655;
        border-radius: 20px;
        color: white;
        border: none;
        font-size: 16px;
        cursor: pointer;
        /* position: absolute; */
        bottom: 20%;
        left: 15%;
        transition: background-color 0.3s ease;
    }
    
    .home-four-btn:hover {
        background-color: #0c7d92;
    }
}