@import url("https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #240655;
  color: rgba(255, 255, 255, 0.889);
  padding: 20px;
  font-family: "Comfortaa", sans-serif;
  font-size: 0.9rem;
}

.footer-column {
  flex: 1 1 100%;
  margin-bottom: 20px;
  margin-left: 15%;
}
.footer-column a{
  text-decoration: none;
  color: aliceblue;
}

.footer-column a {
  text-decoration: none;
  color: white;
}

.footer-column h4 {
  margin-bottom: 10px;
}

.footer-column ul {
  list-style-type: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 5px;
}

.spacer {
    height: 20px;
}

.footer-social-links {
  display: flex;
  justify-content: space-between;
  width: 52%;
}

.footer-social-links img {
  width: 20px;
  object-fit: contain;
}

.footer-social-links img:last-of-type {
  margin-top: 6px;
}

@media only screen and (min-width: 768px) {
  .footer-column {
    flex: 1;
    margin-bottom: 0;
  }

  .footer-column + .footer-column {
    margin-left: 20px;
  }
}

@media only screen and (min-width: 992px) {
  .footer {
    justify-content: space-between;
  }

  .footer-column {
    flex: 1 1 auto;
  }

  .footer-column + .footer-column {
    margin-left: 0;
  }
}
