@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

.home1-img {
  height: 100vh;
  width: 100%;
}

.home-hero-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.5); */
  background-color: rgba(36, 6, 85, 0.5);
  color: white;
  text-align: center;
  /* padding: 20px; */
  box-sizing: border-box;
  font-family: "Comfortaa", sans-serif;
  font-size: 1.5rem;
}

.home-hero-section {
  /* background-color: red; */
  padding: 20px;
  /* margin-top: 8%; */
  margin-top: 12%;
}

.home-hero-section h1 {
  background: linear-gradient(75deg, #99fefe, #00d7f8);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3.2rem;
  margin: 0;
  /* margin-bottom: 20px; */
}

.home-hero-section h3:first-of-type {
  letter-spacing: 5px;
  font-size: 23px;
  margin: 0;
  margin-bottom: 30px;
}

.home-hero-section input {
  width: 40%;
  height: 50px;
  background-color: #84ffff;
  border: none;
  padding: 0 30px;
  border-radius: 25px;
  font-family: "Comfortaa", sans-serif;
  font-size: 1.1rem;
}

.home-hero-section input::placeholder {
  color: #240655;
  font-weight: bold;
}

.home-hero-section-search {
  position: relative;
  /* background-color: red; */
}

.home-hero-section img {
  position: absolute;
  width: 32px;
  right: 30%;
  top: 8px;
}

.vertical-text-slider {
    position: relative;
    display: block;
    font-size: 75px;
    font-weight: 500;
    line-height: 88px;
    height: 88px;
    overflow: hidden;
}

.slide-text {
    display: block;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    font-size: 48px;
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.slide-text.active {
  opacity: 1;
  transform: translateY(0);
}

.college-text {
  color: #cefb08;
}

.courses-text {
  color: #ff6060;
}
.exams-text{
  color: #F0F600;
}
.skills-text{
  color: #F8A39B;
}
.opportunity-text{
  color: #a3db2a;
}



.modal-search {
  display: block; 
  position: fixed; 
  z-index: 9999; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.816); 
}

.modal-content-search {
  position: absolute;
  top: auto; /* Set top to auto */
  /* bottom: 0;  */
  left: 50%;
  width: 98%;
  transform: translateX(-50%); /* Only translate horizontally */
  background-color: rgb(46, 6, 109); 
  padding: 20px;
  padding-left: 80px;
  max-height: calc(100vh - 10%); 
  overflow-y: auto; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
}
.modal-content-search input{
  width: 90%;
  background-color: rgb(46, 6, 109);
  height: 40px;
  font-size: 25px;
  border: none;
  outline: none;
  font-weight: bold;
  color: white;
}
.close-search {
  position: absolute;
  top: 7px;
  right: 70px;
  font-size: 60px;
  cursor: pointer;
}
body.modal-open {
  overflow: hidden; 
}
.search-results{
  background-color: #240655;
  position: relative;
  top: 80px;
  padding: 30px;
}
.search-result {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  color: white;
  font-family: 'Comfortaa', sans-serif;
}
.search-results h1{
  margin: 0;
  margin-left: 35px;
  background: linear-gradient(0deg, #c9ffff, #00d7f8);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.search-results li{
  color: white;
  margin: 10px;
  margin-left: 0;
  font-size: 20px;
}

.search-result img {
  width: 50px; /* Adjust the size as needed */
  height: 50px; /* Adjust the size as needed */
  border-radius: 50%;
  margin-right: 20px;
}

.search-result div {
  flex: 1;
}

.search-result p {
  margin: 5px 0;
}


@media only screen and (max-width: 768px) {
  .home-hero-overlay {
    top: 0vh;
    height: 100vh;
  }
  .home-hero-section h1{
    font-size: 2.7rem;
    margin-top: 30%;
  }
  .slide-text{
    font-size: 40px;
  }
  .home-hero-section input {
    width: 50%;
  }

  .home-hero-section img {
    right: 20%;
    width: 22px;
    top: 13px;
  }
  .search-results{
    background-color: #240655;
    position: relative;
    top: 70px;
    padding: 10px;
  }
  .modal-content-search{
    padding-left: 40px;
  }
  .modal-content-search input{
    height: 30px;
    font-size: 20px;
    width: 80%;
  }
  .close-search{
    right: 40px;
    top: 0px;
  }
}


