
.form-file-input-group {
    display: flex;
    /* background-color: red; */
    height: 55px;
}

.form-file-input-group input {
    height: 25px;
    margin-top: auto;
    border-radius: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    /* background-color: red; */
}

.form-file-input-group button {
    height: 46px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    border: none;
    border: 1px solid #f44336;
    font-family: "Comfortaa", sans-serif;
    margin-top: auto;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.form-file-input-group button:hover {
    background-color: #f44336;
    transition: 0.5s;
}