
.slot-background-image {
  width: 100%;
  height: 100vh;
}

.slot-form-overlay {
  height: 99vh;
}

.slot-details-page {
  display: flex;
  background-color: #240655;
  height: 85%;
  margin: 30px auto 0 auto;
  width: 95%;
  overflow: hidden;
  border-radius: 10px;
}

.slot-details {
  width: 50%;
  padding: 15px 30px;
}

.slot-details button {
  width: 50%;
  margin-top: 5px;
}

.slot-details h2{
  font-size: 35px;
}

.form-group {
  width: 80%;
}

.form-group input {
  width: 100%;
}

.form-input-group select {
    width: 100%;
    padding: 0.6rem 0.75rem;
    height: 35px;
    font-size: 14px;
    color: white;
    background-color: #240655;
    border-color: rgba(255, 255, 255, .1);
    border: 1px solid #ced4da;
    border-radius: 8px;
    font-family: "Comfortaa", sans-serif;
    margin-top: 5px;
}

.form-group .slot-booking-select {
  width: 105%;
  height: 40px;
}

.slot-booking-page-right {
  width: 50%;
}
.form-group .datepicker{
  /* width: 105%; */
}
@media only screen and (max-width: 768px) {
  .slot-booking-page-right {
    display: none;
  }
  .slot-details{
    width: 100%;
  }
  .form-group{
    width: 90%;
  }
  .form-group .slot-booking-select {
    width: 107%;
    height: 40px;
  }
  .form-group .datepicker{
    width: 137%;
  }
}