.error-page{
    /* background-color: #8929fe4e; */
    background-color: #41008c;
    height: 100vh;
    display: flex;
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.err-left{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.err-left h1{
    margin: 0;
    font-size: 14em;
    letter-spacing: 1.5rem;
    
}
.err-left h2{
    margin: 0;
    font-size: 2em;
    margin-top: -3%;
    letter-spacing: 5px;
    background: linear-gradient(45deg, #84FFFF, #00B8D4);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.err-left h3{
    margin: 0;
    font-size: 1.3em;
    background: linear-gradient(45deg, #84FFFF, #00B8D4);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.err-left p{
    margin: 0;
    font-weight: bolder;
    font-size: 2em;
    margin-bottom: -5%;
    background: linear-gradient(45deg, #84FFFF, #00B8D4);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.err-left button{
    /* background-color: #240655; */
    background: linear-gradient(45deg, #84FFFF, #00B8D4);
    border-radius: 20px;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    left: 6%;
    bottom: 9%;
    /* margin-bottom: 0%; */
    margin-top: 10%;
    transition: background-color 0.3s ease;
}
.err-left button:hover{
    /* background-color: #0c7d92; */
    background: linear-gradient(45deg, #6f00ed, #00B8D4);
}
.err-right{
    width: 50%;
}
.err-right img{
    width: 100%;
    height: 99.6vh;
}