.navbar {
    background-color: #240655;
    display: flex;
    align-items: center;
}

.navbar-logo {
    display: flex;
}

.navbar-logo h2 {
    margin: auto 0 auto 0;
    color: white;
}

.navbar-brand-logo {
    width: 40px;
    height: 40px;
    object-fit: contain;
    padding: 5px 0;
    margin-right: 5px;
}

.navbar-bell{
    width: 30px;
    height: 30px;
}
/* .navbar-links{
    text-decoration: none;
} */