.college-details-page {
  background-color: #240655;
  height: 90%;
  margin: 30px auto 0 auto;
  width: 95%;
  overflow-y: scroll;
}
.college-details-page h4 {
  margin-left: 30px;
  margin-right: 5px;
}
.college-details-page h3 {
  margin-left: 20px;
  font-size: 25px;
}

.college-details-page li {
  margin-left: 35px;
}
.college-details-page h5 {
  margin-left: 30px;
}
.college-details-page-header {
  display: flex;
  /* background-color: red; */
  background-color: #4527a0;
  padding: 20px;
}

.college-logo  {
  height: 100px;
  width: 100px;
}


.college-name {
  display: flex;
  margin-top: 20px;
}
.college-name h2 {
  margin: auto 0 auto 0;
  margin-left: 10px;
  font-size: 28px;
}
.college-details{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  margin-top: 10px;
  font-size: 14px;
}
.college-details img{
  height: 18px;
  width: 18px;
}
.college-details h4 {
  margin: 0;
  margin-left: 5px;
  margin-right: 20px;
}

.admission-process {
  white-space: pre;
}

.college-details-page-gallery h3 {
  margin-left: 20px;
}
.college-details-page-gallery img {
  width: 200px;
  height: 200px;
  margin-left: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.modal {
  display: block;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: hidden;
}

.modal-content {
  margin: 5% auto;
  padding: 10px;
  background: #fefefe;
  border: 1px solid #888;
  height: 80%;
  width: 80%;
}

.modal-content img {
  width: 98%;
  height: 100%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.college-page-navigation-bar {
  display: flex;
  justify-content: space-around;
  background-color: #4527BF;
}

.college-page-navigation-bar-content a {
  font-size: 18px;
  padding: 15px;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.college-page-navigation-bar-content {
  padding: 10px;
}

@media only screen and (max-width: 768px) {
  .admission-process {
    white-space: wrap;
  }

  .college-logo  {
    width: 80px;
    height: 80px;
  }

  .college-details-page-gallery img {
    width: 320px;
    height: 240px;
  }
}


.table-container {
  overflow-x: auto;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.college-table {
  width: 100%;
  border-collapse: collapse;
}

.college-table th,
.college-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.college-table th {
  background-color: #4527BF;
  text-align: left;
}
.facilities-flex-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 40px;
}

.facility-item {
  margin-right: 30px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.facility-item img{
  height: 40px;
  width: 40px;
}
.facility-item span {
  display: block;
  margin-top: 15px;
  margin-bottom: 5px;
}
