
.openings-overlay {
    display: flex;
    position: absolute;
    top: 50px;
    left: 0px;
    width: 100%;
    /* height: 101%; */
    height: calc(101% - 50px);
    background-color: rgba(36, 6, 85, 0.5);
    color: white;
    box-sizing: border-box;
    font-family: "Comfortaa", sans-serif;
}

.openings-display-box {
    display: flex;
    background-color: #240655;
    width: 90%;
    border-radius: 10px;
    margin: 2% auto 2% auto;
  box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.9);

}

.openings-title {
    display: flex;
    align-items: center;
    margin: 0 30px;
    justify-content: space-between;
  }

.openings-display-box-filter {
    width: 20%;
    padding: 20px;
    background-color: #4527a0;
    overflow-y: scroll;
    border-radius: 10px;
}

.openings-display-box-filter h2 {
    margin-bottom: 10px;
    font-size: 1.2rem;
  }
  
  .openings-display-box-filter select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .openings-display-box-filter select:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }

.openings-display-box-list {
    width: 80%;
    overflow-y: auto;
    padding: 0 2%;
}
.location{
  display: none;
}

@media only screen and (max-width: 768px) {
  .openings-overlay{
    flex-direction: column;
    height: calc(101% - 50px);

  }
  .openings-display-box{
    border-radius: 10px;
    height: 82vh;
  }
  .openings-display-box-list{
    width: 100%;
  }
  .openings-display-box-filter{
    display: none;
  }
  .current{
    display: none;
  }
  .type-and-location{
    display: none;
  }
  .job-content{
    justify-content:space-around;
  }
  .location{
    display: inline;
  }
  .jobID{
    display: none;
  }
}